@import "./reset";

// 1rem = fontSize px
// *** 1px  = (1 /fontSize) rem
// 20px = 20 / fontSize
// font-size是内定的 结论: 参数/fontSize = xxx rem

$ratio: 375 / 10;

@function px2rem($px) {
  @return $px / $ratio + rem;
}

// 复用样式
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
